My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reporte",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        624
      ],
      "id": "37d56901-8597-46c6-858d-ed1c5dc5d465",
      "name": "Webhook",
      "webhookId": "3268990c-9409-480c-aef0-39633a6eef94"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-3-nano-omni-30b-a3b-reasoning:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -208,
        848
      ],
      "id": "c1eac80a-c35b-41ac-96c0-e647fe3efe61",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "zBwXKVuzC1H36uIc",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        0,
        864
      ],
      "id": "f518f946-7173-425a-b17a-540bd01823ca",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78",
          "mode": "list",
          "cachedResultName": "Base de datos Proyecto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "reportes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha de reporte": "={{ $json.body.fechaReporte }}",
            "Nombre completo": "={{ $json.body.nombreCompleto }}",
            "Documento de identidad": "={{ $json.body.documentoIdentidad }}",
            "Dirección física (contacto)": "={{ $json.body.direccionFisica }}",
            "Teléfono": "={{ $json.body.telefono }}",
            "Correo electrónico": "={{ $json.body.correoElectronico }}",
            "Ubicación exacta del suceso": "={{ $json.body.ubicacionExactaSuceso }}",
            "Fecha y hora del suceso": "={{ $json.body.fechaHoraSuceso }}",
            "Descripción breve del hecho": "={{ $json.body.descripcionBreve }}",
            "Andenes destruidos": "={{ $json.body.andenesDestruidos }}",
            "Alcantarillado colapsado o sin tapas": "={{ $json.body.alcantarilladoColapsado }}",
            "Señalización vial borrosa": "={{ $json.body.senalizacionVialBorrosa }}",
            "Acumulación de basuras": "={{ $json.body.acumulacionBasuras }}",
            "Contaminación visual": "={{ $json.body.contaminacionVisual }}",
            "Déficit de zonas verdes": "={{ $json.body.deficitZonasVerdes }}",
            "Inseguridad y riesgo público": "={{ $json.body.inseguridadRiesgoPublico }}",
            "Contaminación acústica": "={{ $json.body.contaminacionAcustica }}",
            "Viviendas o edificaciones en ruinas": "={{ $json.body.viviendasRuinas }}",
            "Descripción adicional del daño y pretensiones": "={{ $json.body.descripcionAdicional }}",
            "Coordenadas (ingreso manual)": "={{ $json.body.coordenadasManual }}",
            "Coordenadas por API (teléfono)": "={{ $json.body.coordenadasAPI }}",
            "Observaciones adicionales": "={{ $json.body.observacionesAdicionales }}",
            "ticketId": "={{ $json.body.ticketId }}",
            "estadoTicket": "ACEPTADO"
          },
          "matchingColumns": [
            "ticketId"
          ],
          "schema": [
            {
              "id": "Fecha de reporte",
              "displayName": "Fecha de reporte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre completo",
              "displayName": "Nombre completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Documento de identidad",
              "displayName": "Documento de identidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Dirección física (contacto)",
              "displayName": "Dirección física (contacto)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Teléfono",
              "displayName": "Teléfono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo electrónico",
              "displayName": "Correo electrónico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ubicación exacta del suceso",
              "displayName": "Ubicación exacta del suceso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha y hora del suceso",
              "displayName": "Fecha y hora del suceso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripción breve del hecho",
              "displayName": "Descripción breve del hecho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Andenes destruidos",
              "displayName": "Andenes destruidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alcantarillado colapsado o sin tapas",
              "displayName": "Alcantarillado colapsado o sin tapas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Señalización vial borrosa",
              "displayName": "Señalización vial borrosa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Acumulación de basuras",
              "displayName": "Acumulación de basuras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contaminación visual",
              "displayName": "Contaminación visual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Déficit de zonas verdes",
              "displayName": "Déficit de zonas verdes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Inseguridad y riesgo público",
              "displayName": "Inseguridad y riesgo público",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contaminación acústica",
              "displayName": "Contaminación acústica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Viviendas o edificaciones en ruinas",
              "displayName": "Viviendas o edificaciones en ruinas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripción adicional del daño y pretensiones",
              "displayName": "Descripción adicional del daño y pretensiones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fotografías",
              "displayName": "Fotografías",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Coordenadas (ingreso manual)",
              "displayName": "Coordenadas (ingreso manual)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Coordenadas por API (teléfono)",
              "displayName": "Coordenadas por API (teléfono)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Observaciones adicionales",
              "displayName": "Observaciones adicionales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ticketId",
              "displayName": "ticketId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estadoTicket",
              "displayName": "estadoTicket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoriaDano",
              "displayName": "categoriaDano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "severidad",
              "displayName": "severidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "confianzaIA",
              "displayName": "confianzaIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "justificacion",
              "displayName": "justificacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        624
      ],
      "id": "f555adb9-5439-4d2b-92d6-7b5b924a4974",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YPITSLwwzrTmOqG7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "fotografias",
        "name": "={{ $json.body.ticketId }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        400
      ],
      "id": "24cc7520-360a-4491-9e53-5028707fd75f",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KfYec3z84Z0osjjw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78",
          "mode": "list",
          "cachedResultName": "Base de datos Proyecto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 976186585,
          "mode": "list",
          "cachedResultName": "reporteia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78/edit#gid=976186585"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ticketID": "={{ $json.ticketId }}",
            "categoria_ia": "={{ $json.categoria_ia }}",
            "severidad": "={{ $json.prioridad }}",
            "confianza": "={{ $json.confianza }}",
            "peligro_inminente": "={{ $json.peligro_inminente }}",
            "palabras_clave_detectadas": "={{ $json.palabras_clave_detectadas }}",
            "coherencia_texto_imagen": "={{ $json.coherencia_texto_imagen }}",
            "validacion_coordenadas": "={{ $json.validacion_coordenadas }}",
            "resumen_ia": "={{ $json.resumen_ia }}",
            "prioridad_texto": "={{ $json.prioridad_texto }}",
            "timestamp_procesamiento": "={{ $json.timestamp_procesamiento }}"
          },
          "matchingColumns": [
            "ticketID"
          ],
          "schema": [
            {
              "id": "ticketID",
              "displayName": "ticketID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "categoria_ia",
              "displayName": "categoria_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "severidad",
              "displayName": "severidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confianza",
              "displayName": "confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "peligro_inminente",
              "displayName": "peligro_inminente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "palabras_clave_detectadas",
              "displayName": "palabras_clave_detectadas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "coherencia_texto_imagen",
              "displayName": "coherencia_texto_imagen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "validacion_coordenadas",
              "displayName": "validacion_coordenadas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resumen_ia",
              "displayName": "resumen_ia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad_texto",
              "displayName": "prioridad_texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp_procesamiento",
              "displayName": "timestamp_procesamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        640
      ],
      "id": "0e2a382c-889d-4461-8bb4-bb37520ec8f9",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YPITSLwwzrTmOqG7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## ROL Y OBJETIVO\nEres un agente de inteligencia artificial multimodal especializado en análisis de reportes de daños urbanos. Tu función es verificar, clasificar y priorizar incidentes reportados por ciudadanos. adicionalemnte verificar si la imagen cargada concuerda con la informacion suministrada en el formulario, si la imagen es un  memeo alguna otra cosa. comentarlo y darle prioridad 0.\n\n## CONTEXTO DE ENTRADA\nRecibirás un objeto JSON con la siguiente estructura:\n- **ticketId**: Identificador único del reporte{{ $json.ticketId }}\n\n- **descripciónBreve**: Texto corto del incidente{{ $json['Descripción breve del hecho'] }}\n\n- **descripciónAdicional**: Detalles adicionales{{ $json['Descripción adicional del daño y pretensiones'] }}\n\n- **checkboxes de categorías**: (andenesDestruidos, alcantarilladoColapsado, etc.{{ $json['Andenes destruidos'] }}{{ $json['Alcantarillado colapsado o sin tapas'] }}{{ $json['Señalización vial borrosa'] }}{{ $json['Acumulación de basuras'] }}{{ $json['Contaminación visual'] }}{{ $json['Déficit de zonas verdes'] }}{{ $json['Inseguridad y riesgo público'] }}{{ $json['Contaminación acústica'] }}{{ $json['Viviendas o edificaciones en ruinas'] }})\n\n- **observacionesAdicionales**: Notas extras\n\n- **Imagen asociada**: Disponible en Google Drive con nombre = ticketId{{ $json.ticketId }} accede a la herramienta de google y busca la imagen que tiene por nombre el {{ $json.ticketId }}\n\n## TAREAS A REALIZAR\n\n### 1. ANÁLISIS DE VISIÓN ARTIFICIAL (deve ser quirurgico el analisis no omitir nada)\nAnaliza la imagen del reporte (verificar en google drive por medio del nombre de la imagen que va a ser {{ $json.ticketId }}) para:\n- abre la imagen y verifica si es un daño real u otro tipo de imagen. \n- si la imagen no pasa la prueba inmediatamente se pasa a      confianza 0.\n\n- Verificar si corresponde a un daño urbano real.\n\n- Clasificar el tipo de daño:\n  * Vías (baches, andenes destruidos, señalización)\n  * Eléctrico (cableado caído, postes dañados)\n  * Acueducto/Alcantarillado (fugas, colapsos)\n  * Espacio público (basuras, contaminación visual)\n  * Infraestructura (viviendas en ruinas)\n- Detectar elementos de peligro inminente.\n \n\n### 2. ANÁLISIS DE TEXTO (NLP)\nProcesa la descripciónBreve, descripciónAdicional y observacionesAdicionales:\n- Identifica palabras clave de PELIGRO CRÍTICO:\n  * \"gas\", \"explosión\", \"fuga\"\n  * \"alto voltaje\", \"eléctrico\", \"cable vivo\"\n  * \"colegio\", \"escuela\", \"hospital\", \"niños\"\n  * \"derrumbe\", \"caída\", \"riesgo\"\n  * \"incendio\", \"humo\", \"fuego\"\n  * \"accidente de transito\"\n  * \"muerto\" \n- Extrae el tipo de daño mencionado\n- Valida coherencia entre texto e imagen.\n\n### 3. CLASIFICACIÓN Y PRIORIZACIÓN\n\n**CATEGORÍA IA** (selecciona UNA):\n- Vías\n- Eléctrico  \n- Acueducto\n- Espacio Público\n- Infraestructura\n- Accidentes\n- Otro\n\n**NIVEL DE PRIORIDAD** (basado en lógica híbrida):\n- **CRÍTICA**: \n  * Riesgo inminente de accidente/lesión\n  * Afecta servicios esenciales (agua, luz, gas)\n  * Ubicado en zona de alta circulación (colegios, hospitales)\n  * Palabras clave de peligro detectadas\n  * Accidente de transito. \n  \n- **MODERADA**:\n  * Daño visible que requiere atención\n  * No representa peligro inmediato\n  * Afecta calidad de vida\n  \n- **BAJA**:\n  * Daño menor o cosmético\n  * Sin riesgo para personas\n  * Puede programarse\n\n**NIVEL DE CONFIANZA** (0-100%):\n- 90-100%: Imagen clara + descripción coherente + daño evidente\n- 70-89%: Buena evidencia pero con alguna ambigüedad\n- 50-69%: Evidencia limitada o contradictoria\n- <50%: No se puede verificar adecuadamente\n\n### 4. VALIDACIÓN DE DATOS\nVerifica:\n- Coordenadas válidas (formato: latitud, longitud)\n- Campos obligatorios completados\n- Coherencia entre ubicación y descripción\n\n## FORMATO DE SALIDA (JSON)\n\nDebes responder EXCLUSIVAMENTE en formato JSONusando la siguiente estructura: SOLO RESPONDER USANDO ESTE FORMATO NO OTRO FORMATO NI ADICIONAR INFORMACION ADICIONAL QUE NO SE AJUSTE AL FORMATO\n\n{\n  \"ticketId\": \"TKT-...\",\n  \"categoria_ia\": \"Vías|Eléctrico|Acueducto|Espacio Público|Infraestructura|Otro\",\n  \"prioridad\": \"CRÍTICA|MODERADA|BAJA\",\n  \"confianza\": 85,\n  \"peligro_inminente\": true|false,\n  \"palabras_clave_detectadas\": [\"gas\", \"colegio\"],\n  \"coherencia_texto_imagen\": true|false,\n  \"validacion_coordenadas\": true|false,\n  \"resumen_ia\": \"Breve justificación del análisis y decisión tomada.\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -48,
        640
      ],
      "id": "34e98cee-fe47-409f-afc1-c14a27a79fde",
      "name": "AI Agent1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "// Obtener el primer elemento del array de entrada (el nodo anterior debe entregar el JSON mostrado)\nconst inputData = $input.first().json;\n\n// Verificar que exista la propiedad \"output\" y que sea un string\nif (!inputData.output || typeof inputData.output !== 'string') {\n  throw new Error('La propiedad \"output\" no existe o no es un string válido');\n}\n\n// Parsear el string JSON interno\nlet parsedOutput;\ntry {\n  parsedOutput = JSON.parse(inputData.output);\n} catch (error) {\n  throw new Error(`Error al parsear el JSON de output: ${error.message}`);\n}\n\n// Construir el objeto final con todos los campos necesarios para los nodos siguientes\nconst processedData = {\n  // Datos principales del análisis\n  ticketId: parsedOutput.ticketId,\n  categoria_ia: parsedOutput.categoria_ia,\n  prioridad: parsedOutput.prioridad,\n  confianza: parsedOutput.confianza,\n  peligro_inminente: parsedOutput.peligro_inminente,\n  palabras_clave_detectadas: parsedOutput.palabras_clave_detectadas,\n  coherencia_texto_imagen: parsedOutput.coherencia_texto_imagen,\n  validacion_coordenadas: parsedOutput.validacion_coordenadas,\n  resumen_ia: parsedOutput.resumen_ia,\n  \n  // Campo adicional para facilitar el uso en notificaciones (por ejemplo, prioridad en texto)\n  prioridad_texto: parsedOutput.prioridad === 'MODERADA' ? 'Moderada' : \n                   (parsedOutput.prioridad === 'ALTA' ? 'Alta' : 'Baja'),\n  \n  // Timestamp de procesamiento (opcional, útil para registro)\n  timestamp_procesamiento: new Date().toISOString()\n};\n\n// Devolver el objeto procesado para los nodos siguientes\nreturn [processedData];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        640
      ],
      "id": "ed365c27-766b-416e-9ced-a92796026304",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=busca la foto que se guarda con el nombre de archivo  {{ $json.ticketId }}",
        "resource": "fileFolder",
        "searchMethod": "={{ $('Webhook').item.json.body.ticketId }}",
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        176,
        880
      ],
      "id": "ac77da77-3430-426a-b21c-b383980ca38a",
      "name": "Search files and folders in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KfYec3z84Z0osjjw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sergiocampuslands@gmail.com",
        "subject": "URGENTE, PELIGRO CRITICO.",
        "emailType": "text",
        "message": "=Ticket: {{ $('Append or update row in sheet1').item.json.ticketID }}\nNIvel de prioridad: {{ $json.severidad }}\nDebe desplazarce a la zona: {{ $('Append or update row in sheet').item.json['Ubicación exacta del suceso'] }}\ncoordenadas: {{ $('Append or update row in sheet').item.json['Coordenadas por API (teléfono)'] }} adicionalemnte {{ $('Append or update row in sheet').item.json['Observaciones adicionales'] }}\n\nEn el lugar {{ $('Append or update row in sheet').item.json['Descripción breve del hecho'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        384
      ],
      "id": "32aeea5b-3569-461f-b9e5-54b7b4a335a7",
      "name": "Reporte unidad tecnica",
      "webhookId": "36092350-cc5d-481d-8b10-fe015afae0c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "f9iJ1vQisogLKKvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sergiocampuslands@gmail.com",
        "subject": "Revision en las próximas 1 a 2 horas. ",
        "emailType": "text",
        "message": "=Ticket: {{ $('Append or update row in sheet1').item.json.ticketID }}\nNIvel de prioridad: {{ $json.severidad }}\nDebe desplazarce a la zona: {{ $('Append or update row in sheet').item.json['Ubicación exacta del suceso'] }}\ncoordenadas: {{ $('Append or update row in sheet').item.json['Coordenadas por API (teléfono)'] }} adicionalemnte {{ $('Append or update row in sheet').item.json['Observaciones adicionales'] }}\n\nEn el lugar {{ $('Append or update row in sheet').item.json['Descripción breve del hecho'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        656
      ],
      "id": "86b3c359-f643-40cd-b97f-99bfe8ca4343",
      "name": "Reporte unidad tecnica1",
      "webhookId": "36092350-cc5d-481d-8b10-fe015afae0c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "f9iJ1vQisogLKKvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sergiocampuslands@gmail.com",
        "subject": "Revision agendada en 2 dias. ",
        "emailType": "text",
        "message": "=Ticket: {{ $('Webhook').item.json.body.ticketId }}\nNIvel de prioridad: {{ $json.severidad }}\nDebe desplazarce a la zona: {{ $('Append or update row in sheet').item.json['Ubicación exacta del suceso'] }}\ncoordenadas: {{ $('Append or update row in sheet').item.json['Coordenadas por API (teléfono)'] }}\n\nDescripcion del suceso:{{$('Webhook').item.json.body.descripcionBreve }} {{ $('Webhook').item.json.body.observacionesAdicionales }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        880
      ],
      "id": "30dbfe42-c2b5-4962-a8f5-92e2e862fd87",
      "name": "Reporte unidad tecnica2",
      "webhookId": "36092350-cc5d-481d-8b10-fe015afae0c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "f9iJ1vQisogLKKvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.correoElectronico }}",
        "subject": "Reporte recibido",
        "emailType": "text",
        "message": "=Su reporte con Ticket: {{ $('Append or update row in sheet1').item.json.ticketID }} ah sido recibido y enviado al encargado. NIvel de prioridad asignado: {{ $('Append or update row in sheet1').item.json.severidad }}. \n\nMuchas gracias por su reporte.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        384
      ],
      "id": "a815e95b-3700-41b1-8ae5-ea724af7163d",
      "name": "Respuesta a usuario",
      "webhookId": "36092350-cc5d-481d-8b10-fe015afae0c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "f9iJ1vQisogLKKvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.correoElectronico }}",
        "subject": "Reporte recibido",
        "emailType": "text",
        "message": "=Su reporte con Ticket: {{ $('Append or update row in sheet1').item.json.ticketID }} ah sido recibido y enviado al encargado. NIvel de prioridad asignado: {{ $('Append or update row in sheet1').item.json.severidad }}. \n\nMuchas gracias por su reporte.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1104,
        880
      ],
      "id": "afcf66a6-fbc1-481e-bbf7-b99f34e6c608",
      "name": "Respuesta a usuario2",
      "webhookId": "36092350-cc5d-481d-8b10-fe015afae0c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "f9iJ1vQisogLKKvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.correoElectronico }}",
        "subject": "Reporte recibido",
        "emailType": "text",
        "message": "=Su reporte con Ticket: {{ $('Append or update row in sheet1').item.json.ticketID }} ah sido recibido y enviado al encargado. NIvel de prioridad asignado: {{ $('Append or update row in sheet1').item.json.severidad }}. \n\nMuchas gracias por su reporte.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1088,
        656
      ],
      "id": "056f52a1-bb6a-474a-bccc-7e21d500a88c",
      "name": "Respuesta a usuario1",
      "webhookId": "36092350-cc5d-481d-8b10-fe015afae0c2",
      "credentials": {
        "gmailOAuth2": {
          "id": "f9iJ1vQisogLKKvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.severidad }}",
                    "rightValue": "CRÍTICA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1a9754e0-1d8f-4b86-8b46-39d3548d2a0f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "061fe8c9-8ae3-44e3-b85d-c314970965c4",
                    "leftValue": "={{ $json.severidad }}",
                    "rightValue": "=MODERADA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8840724c-1997-454a-8d7b-20aaba009e0b",
                    "leftValue": "={{ $json.severidad }}",
                    "rightValue": "BAJA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        624
      ],
      "id": "d51a2ad0-19a9-4511-a0ff-1f20b8e313aa",
      "name": "Respuesta tecnica."
    },
    {
      "parameters": {
        "jsCode": "// Accedemos a los datos de entrada de forma genérica\ntry {\n  const item = items[0].json;\n  const text = item.message.text;\n  \n  const regex = /TKT-\\d{8}-\\d{4}/;\n  const match = text.match(regex);\n\n  return {\n    ticketId: match ? match[0] : null\n  };\n} catch (error) {\n  // Si algo falla, devolvemos null para que el resto del flujo no se rompa\n  return { ticketId: null };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        144
      ],
      "id": "4a94a3e7-adbf-437a-a970-bfc136003a99",
      "name": "Extractor del Ticket"
    },
    {
      "parameters": {
        "chatId": "={{ $('TRIGGER POR MENSAJE').item.json.message.from.id }}",
        "text": "Lo sentimos, no detectamos ningún Ticket en su petición, por favor, vuelva a intentarlo",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        240
      ],
      "id": "2f4b6674-6ca3-4405-a1ce-5004063cefa9",
      "name": "Ticket no encontrado en el Mensaje",
      "webhookId": "2c145481-10ce-420b-8cca-57932856dacc",
      "credentials": {
        "telegramApi": {
          "id": "S2jAVTDTYlvNFwLd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('TRIGGER POR MENSAJE').item.json.message.chat.id }}",
        "text": "Ticket Recibido Correctamente, iniciando busqueda en nuestra base de datos...",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        48
      ],
      "id": "b5f738da-1e59-4032-a37c-6a993c6888a6",
      "name": "Confirmacion estado Ticket",
      "webhookId": "2bafe235-90c7-430c-bcc1-6bfdde5d9d80",
      "credentials": {
        "telegramApi": {
          "id": "S2jAVTDTYlvNFwLd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('TRIGGER POR MENSAJE').item.json.message.chat.id }}",
        "text": "=Busqueda finalizada, su ticket {{ $json.ticketId }} tiene un estatus actual de: {{ $json.estadoTicket }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        32
      ],
      "id": "3beb458f-4df1-4a50-9156-d91d9f469902",
      "name": "Send a text message",
      "webhookId": "7a1b15c2-d7f8-43d2-b962-dc90c5859b58",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "S2jAVTDTYlvNFwLd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -144,
        1216
      ],
      "id": "60aa9f07-5138-440d-a9f8-9bda183fd2a8",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78",
          "mode": "list",
          "cachedResultName": "Base de datos Proyecto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "reportes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        1136
      ],
      "id": "cfd05e24-c079-424d-a719-fc2c2267fa4e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YPITSLwwzrTmOqG7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78",
          "mode": "list",
          "cachedResultName": "Base de datos Proyecto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 976186585,
          "mode": "list",
          "cachedResultName": "reporteia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78/edit#gid=976186585"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        1296
      ],
      "id": "de2ab328-ed05-46b8-b1e1-868dbd353eb2",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YPITSLwwzrTmOqG7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Los datos de entrada vienen del nodo anterior\nconst items = $input.all();\n\n// Extraer los datos JSON de cada item\nconst data = items.map(item => item.json);\n\n// Función para combinar tickets\nfunction combinarTickets(data) {\n  const mapa = new Map();\n  \n  // Agrupar por ticketID\n  data.forEach(item => {\n    // Obtener el ID (puede estar en ticketID o ticketId)\n    const id = item.ticketID || item.ticketId;\n    \n    if (!id) return;\n    \n    if (!mapa.has(id)) {\n      mapa.set(id, {});\n    }\n    \n    // Combinar todas las propiedades\n    const objetoActual = mapa.get(id);\n    Object.keys(item).forEach(key => {\n      if (key === 'ticketId') {\n        objetoActual.ticketID = item[key];\n      } else {\n        objetoActual[key] = item[key];\n      }\n    });\n  });\n  \n  return Array.from(mapa.values());\n}\n\n// Procesar los datos\nconst resultado = combinarTickets(data);\n\n// Retornar en el formato que n8n espera\nreturn resultado.map(item => ({\n  json: item\n}));"
      },
      "id": "66310ad9-88e6-4eca-8bba-1d3754371c14",
      "name": "Formatear Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1216
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        272,
        1216
      ],
      "id": "12322847-36e2-49df-b985-8e073cf46993",
      "name": "Respond to Webhook",
      "notesInFlow": false
    },
    {
      "parameters": {
        "path": "gestion",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        1232
      ],
      "id": "6b5764dd-9a9a-4f68-ae21-b13357b38775",
      "name": "Webhook1",
      "webhookId": "06efc599-c0cb-42ee-ae06-32091e47601d",
      "notesInFlow": false
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        144
      ],
      "id": "f7d920e4-eb4e-4e23-a17b-cc64d311cd70",
      "name": "TRIGGER POR MENSAJE",
      "webhookId": "3f35b523-5571-4306-9e8e-0241e6281564",
      "credentials": {
        "telegramApi": {
          "id": "S2jAVTDTYlvNFwLd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "760944c1-e5bc-485a-8df2-479f75d7dbf8",
              "leftValue": "={{ $json.ticketId}}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        144
      ],
      "id": "c8b07f5d-c522-4210-872c-8acb599a1c49",
      "name": "VALIDACION DE TICKET"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        368,
        48
      ],
      "id": "d7896549-d4a1-42b5-8ec7-1961dd9cb817",
      "name": "SIMULADOR DE ESPERA",
      "webhookId": "78161e05-6641-4629-8c1f-829d95436dc0"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78",
          "mode": "list",
          "cachedResultName": "Base de datos Proyecto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "reportes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u7uj-IGFI5EIN5ayVBSXgiqsDzHiibhfLUtHV-wNl78/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ticketId",
              "lookupValue": "={{ $('Extractor del Ticket').item.json.ticketId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        48
      ],
      "id": "2cb5492d-2c7e-4c9e-9144-443ae406b3bc",
      "name": "REVISION \"BASE DE DATOS\"",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YPITSLwwzrTmOqG7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('TRIGGER POR MENSAJE').item.json.message.chat.id }}",
        "text": "=Busqueda finalizada, su ticket {{ $json.ticketId }} no existe",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        208
      ],
      "id": "ebd56a4b-f7b6-4286-b0bc-15089146c720",
      "name": "Send a text message1",
      "webhookId": "7a1b15c2-d7f8-43d2-b962-dc90c5859b58",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "S2jAVTDTYlvNFwLd",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "301237ff-0e57-46b4-85fd-c2e0d0a0121b",
              "leftValue": "={{ $('Extractor del Ticket').item.json.ticketId }}",
              "rightValue": "={{ $json.ticketId }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        48
      ],
      "id": "05da167d-f464-40e4-98e6-37f6392bd08d",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Respuesta tecnica.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reporte unidad tecnica": {
      "main": [
        [
          {
            "node": "Respuesta a usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reporte unidad tecnica1": {
      "main": [
        [
          {
            "node": "Respuesta a usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reporte unidad tecnica2": {
      "main": [
        [
          {
            "node": "Respuesta a usuario2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta tecnica.": {
      "main": [
        [
          {
            "node": "Reporte unidad tecnica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reporte unidad tecnica1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reporte unidad tecnica2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extractor del Ticket": {
      "main": [
        [
          {
            "node": "VALIDACION DE TICKET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmacion estado Ticket": {
      "main": [
        [
          {
            "node": "SIMULADOR DE ESPERA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Formatear Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Datos": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TRIGGER POR MENSAJE": {
      "main": [
        [
          {
            "node": "Extractor del Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VALIDACION DE TICKET": {
      "main": [
        [
          {
            "node": "Confirmacion estado Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ticket no encontrado en el Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SIMULADOR DE ESPERA": {
      "main": [
        [
          {
            "node": "REVISION \"BASE DE DATOS\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REVISION \"BASE DE DATOS\"": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7612f2a6-f03d-40ac-a518-a0ef6b5f42dd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1b7d50dff87a058465040447f3e2e60185075eba1a44185477ced435093eb84"
  },
  "nodeGroups": [],
  "id": "qSQwqu2kozb5Z7kQ",
  "tags": []
}